@import url('https://fonts.cdnfonts.com/css/fraunces-144pt-s000');
@import url("./styles/header.css");
@import url("./styles/main.css");


:root {
    --common-font-one: 'Fraunces 144pt S000', serif;
    --common-font-two: 'Manrope', sans-serif;
    --primary-color: #24053e;
    --secondary-color: #44ffa1;
    --davy-grey-color: #584d62;
    --ghost-white-color: #fcf8ff;
    --white-color: #ffffff;
    
    --heading-l-font-size: 10rem;
    --heading-m-font-size: 3.5rem;
    --heading-s-font-size: 2rem;
    --body-font-size: 1.125rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--common-font-one);
}

/* Apply for access 

position: absolute;
width: 125px;
height: 32px;
left: calc(50% - 125px/2 + 0.5px);
top: calc(50% - 32px/2 - 1px);

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
identical to box height, or 200% 
letter-spacing: -0.16px;
*/



