

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: 0 5%;*/
    padding: 10% 5%;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5em;
    margin: 10%;
    
}

.header__h {
    font-family: var(--common-font-one);
    font-size: 50px;
}

button {
    background-color: var(--secondary-color);
    width: 133px;
    height: 55px;
    align-self: center;
    font-family: var(--common-font-two);
    font-weight: 700;
    font-size: 16px;
}

.image-hero {
 
    display: flex;
    width: 320px;
    height: 184px;
    margin: 70px auto 0 auto;

}

@media screen and (min-width: 768px) {
    .bg-pattern {
        display: flex;
        justify-content: space-between;
    }
}