

.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main-content__list__number {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: var(--common-font-one);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    margin: 10px auto 10px auto;
}

.main-content__heading {
    text-align: center;
    font-size: 28px;
    color: var(--primary-color);

}

.main-content__p{
    margin-top: 10px;
    text-align: center;
    font-family: var(--common-font-two);
}
  

.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-founder {
    width: 281px;
    height: 281px;
}

.main__section__content {
    background-color: var(--primary-color);
    color: var(--white-color);
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: -1030px;
    left: 0;
    padding: 20px;
    z-index: 1;
    margin-left: 22px;
    width: 343px;
    height: 603;
}

.main__section__content-heading {
    font-size: 32px;
}

.main__section__content-p {
    font-family: var(--common-font-two);
}

.main__section__content-button {
    width: 172px;
    height: 55px;
    margin: 30px auto 15px auto;
}